{% load static %}

<footer id="footer">
    <div class="footer-top">
        <div class="container">
           
            <div class="row">

                <h4>Work Package Lead</h4>
                <div  class="col col-md-2"><img width="160px" src="{% static "mapstore/img/partner_logo/niva.png" %}" />
                </div>
                <div class="col col-md-2"><img width="160px" src="{% static "mapstore/img/partner_logo/grid.png" %}" />
                </div>
                <div class="col col-md-2"><img width="160px" src="{% static "mapstore/img/partner_logo/ntnu.png" %}" />
                </div>
                <div  class="col col-md-2"> <img style="vertical-align: text-bottom;" width="160px" src="{% static "mapstore/img/partner_logo/nr.png" %}" />
                </div>
                <div class="col col-md-2"><img width="160px" src="{% static "mapstore/img/partner_logo/nina.png" %}" />
                </div>
                <div class="col col-md-2"><img width="160px" src="{% static "mapstore/img/partner_logo/imr.png" %}" />
                </div>

            </div>

            <div class="row">
                <h4>Core Partners</h4>
                <div class="col col-md-2"><img width="160px" src="{% static "mapstore/img/partner_logo/aspac.png" %}" />
                </div>
                <div class="col col-md-2"><img width="160px" src="{% static "mapstore/img/partner_logo/sectro.png" %}" />
                </div>
                
            </div>
      
            <div class="row ">

                <h4>Financed By</h4>
                <div class="col col-md-2"><img width="160px" src="{% static "mapstore/img/partner_logo/rcn.png" %}" />
                </div>
                

            </div>
      
      

        </div>
    </div>

    <div class="container-fluid">
        <div class="copyright"> &copy; Copyright <strong><span>SeaBee</span></strong>. All Rights Reserved </div>
        <div class="credits"> Designed by <a target="_blank" href="https://seabee.no/">SeaBee.no</a> </div>
    </div>

</footer>