{% load static %}
<footer>
    <div class="container">

        <div class="row ">
            <div class="col col-md-4 col-md-offset-2">
                <h4 style="color: #5492B7;font-weight: 500;">Work Package Lead</h4>
                <div class="col col-md-6">
                    <a target="_blank" href="https://www.niva.no/"><img width="120px" src="{% static "mapstore/img/partner_logo/niva.png" %}" /> </a>
                </div>
                <div class="col col-md-6"> <a href="https://www.grida.no/" target="_blank"><img width="120px" src="{% static "mapstore/img/partner_logo/grid.png" %}" /></a>
                </div>

                <div class="col col-md-6"><a href="https://www.ntnu.no/" target="_blank"><img width="120px" src="{% static "mapstore/img/partner_logo/ntnu.png" %}" /></a>
                </div>
                <div class="col col-md-6"> <a href="https://nr.no/" target="_blank"><img width="120px" src="{% static "mapstore/img/partner_logo/nr.png" %}" /></a>
                </div>
                <div class="col col-md-6"><a href="https://www.nina.no/" target="_blank"><img width="120px" src="{% static "mapstore/img/partner_logo/nina.png" %}" /></a>
                </div>
                <div class="col col-md-6"><a href="https://www.hi.no/hi" target="_blank"><img width="120px" src="{% static "mapstore/img/partner_logo/imr.png" %}" /></a>
                </div>

            </div>
            <div class="col col-md-2">
                <h4 style="color: #5492B7;font-weight: 500;">Core Partners</h4>
                <div class="col"><a href="https://www.andoyaspace.no/" target="_blank"><img width="160px" src="{% static "mapstore/img/partner_logo/aspac.png" %}" /></a>
                </div>
                <div class="col"><a href="https://www.spectrofly.dk/" target="_blank"><img width="160px" src="{% static "mapstore/img/partner_logo/sectro.png" %}" /></a>
                </div>

            </div>
            <div class="col col-md-2 ">
                <h4 style="color: #5492B7;font-weight: 500;">Financed By</h4>
                <div class="col"><a href="https://www.forskningsradet.no/en/" target="_blank"><img width="160px" src="{% static "mapstore/img/partner_logo/rcn.png" %}" /></a>

            </div>
        </div>
    </div>
    <hr/>
    <div class="container-fluid text-center" style="color: #5492B7;">
        <div class="copyright"> &copy; Copyright <strong><span>SeaBee</span></strong>. All Rights Reserved </div>
        <div class="credits "> Designed by <a target="_blank" href="https://seabee.no/">SeaBee.no</a> </div>
    </div>
</footer>